.pass {
    width: -moz-calc(100% - 40px); /* Firefox */
	width: -webkit-calc(100% - 40px); /* WebKit */
	width: -o-calc(100% - 40px); /* Opera */
	width: calc(100% - 40px); /* Standard */
    padding: 10px;
    margin: 6px 0 10px 0;
    font-size: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
    float: left;
}
.eye-div{
	background-color: #ddd;
	width: 39px;
	margin: 6px 0 10px 0;
	float: right;
	border: 1px solid #ccc;
	border-left: 0;
	border-radius: 0 4px 4px 0;
}