/*
This css be used for displaying the informations that looks similar to table :/ 
The color combination is pretty basic tho :|
*/

/*Everything will be inside this div*/
.div-main{
	width: 90%; 
	border: 1px solid #ddd; 
	background-color: white; 
	display: inline-block; 
	min-height: 600px;
	box-shadow: 1px 0 15px -4px #888888, -1px 0 15px -4px #888888;
}

/*Similar to table header*/
.div-header{
	/*background-color: rgb(70, 109, 106);*/
	background-color: #f5f5f5;
	float: left;
	font-size: 110%;
	color: black;
	border-bottom: 1px solid lightgrey;
	padding: 10px 0px 10px 0px;
}

/*Similar to table description*/
.div-description{
	/*background-color: rgb(227, 235, 255);*/
	background-color: white;
	border-bottom: 1px solid #ddd;
	width: 100%;
	float: left;
	font-size: 100%;
	color: black;
	padding: 2px 0px 2px 0px;
	text-decoration: none;
	text-align: center;
}
.div-description:hover{
	/*background-color: rgb(191, 217, 210);*/
	background-color: #f5f5f5;
}


.table-header{
	background-color: #f5f5f5;
	font-size: 120%;
	text-align: center;
	color: black;
	border-bottom: 1px solid lightgrey;
	padding: 10px 0px 10px 0px;
}